!!!
%head
  %meta{:charset => "utf-8"}
  %meta{:author => "SC2 Starcraft Guild"}
  %title Fantasy League
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Orbitron:regular,italic,bold,bolditalic"}
  %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic"}
  %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic"}
%body
  #container
    %header#header
      #icon
        FantasyCraft
      code name: Zeratul
      - if user_signed_in?
        = current_user.email
        = link_to 'Edit profile', edit_user_registration_path
        = link_to 'Logout', destroy_user_session_path, method: :delete
      - else
        = link_to 'Sign up', new_user_registration_path
        = link_to 'Login', new_user_session_path
    #sub-header
      this is a section for relevant information
    .main-content
      // building front ends with dynamic content is hard. lets start with static
      = yield
    .right-sidebar
      %h2 Manange Team
      %ul.manage
        %li
          = link_to "League Rankings", "#rankings_for_all_leagues?"
        %li
          = link_to "Trade Players", "edit_trade_players"
        %li
          = link_to "Edit Team Details", "#"
